@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
	padding: 5px;
	margin: 0;
	box-sizing: border-box;
    font-family: 'Jet brains mono',sans-serif;
}

body{
    background: #d1d1ac;
    font-family: 'Jet brains mono', sans-serif;
}

.is{
	font-size: 25px;
	color: #285e28;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}

.is2{
	font-size: 22px;
	color: #285e28;
	font-weight: bold;
	padding: 10px;
}

.iss{
	font-size: 16px;
	color: #061123;
	font-weight: bold;
	padding: 25px;
	text-align: center;
}

.issp{
	font-size: 16px;
	color: #061123;
	padding: 15px;
	text-align: center;
}

.issn{
	font-size: 16px;
	color: #061123;
	text-align: center;
}

.ejer1 {
	min-width: 600px;
	min-height: 280px;
	margin: auto;
	margin-top: 20px;
	background:  #efefe8(207, 148, 219);
	border-radius: 5px;
	padding: 50px;
	box-shadow: rgba(0.25, 0.25, 0.25, 0.25) 0px 1px 4px;
	width: 300px;
}
.ejer1 input{
    width: 70%;
}
.ejer1 .main-container{
    display: flex;
    align-items: center;
}
.ejer1 button[type="submit"] {
	display:flex;
	background: #6b7537;
	font-weight: 100;
	font-family: 'Jet brains mono', sans-serif;
	border: none;
	cursor:auto;
	padding: 15px;
	border-radius: 10px;
	color: #fff;
	font-size: 18px;
	transition: .3s ease all;
	width: 100px;
	height: 15px;
	margin: auto;
    min-width: 40px;
    justify-content: center;
    align-items: center;
}

.ejer2 {
	min-width: 600px;
	min-height: 250px;
	margin: auto;
	margin-top: 20px;
	background:  #efefe8(207, 148, 219);
	border-radius: 5px;
	padding: 50px;
	box-shadow: rgba(0.25, 0.25, 0.25, 0.25) 0px 1px 4px;
	width: 300px;
}

.iss2{
	font-size: 16px;
	color: #061123;
	padding: 15px
}

.ejer2 input{
    width: 70%;
}
.ejer2 .main-container{
    display: flex;
    align-items: center;
}
.ejer2 button[type="submit"] {
	display:flex;
	background: #6b7537;
	font-weight: 100;
	font-family: 'Jet brains mono', sans-serif;
	border: none;
	cursor:auto;
	padding: 15px;
	border-radius: 10px;
	color: #fff;
	font-size: 18px;
	transition: .3s ease all;
	width: 100px;
	height: 15px;
	margin: auto;
    min-width: 40px;
    justify-content: center;
    align-items: center;
}

.ejer3 {
	min-width: 600px;
	min-height: 320px;
	margin: auto;
	margin-top: 20px;
	background:  #efefe8(207, 148, 219);
	border-radius: 5px;
	padding: 50px;
	box-shadow: rgba(0.25, 0.25, 0.25, 0.25) 0px 1px 4px;
	width: 300px;
}

.ejer3 input{
    width: 300px;
    flex-direction: column;
    justify-content: center;
}
.ejer3 .main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ejer3 .button{
    display: flex;
    align-items: center;
    justify-content: center;

}
.ejer3 button[type="submit"] {
	display:flex;
	background: #6b7537;
	font-weight: 100;
	font-family: 'Jet brains mono', sans-serif;
	border: none;
	cursor:auto;
	padding: 20px;
	border-radius: 10px;
	color: #fff;
	font-size: 18px;
	transition: .3s ease all;
	width: 100px;
	height: 15px;
	margin: auto;
    min-width: 40px;
    justify-content: center;
    align-items: center;
}

.ejer4 {
	min-width: 600px;
	min-height: 320px;
	margin: auto;
	margin-top: 20px;
	background:  #efefe8(207, 148, 219);
	border-radius: 5px;
	padding: 50px;
	box-shadow: rgba(0.25, 0.25, 0.25, 0.25) 0px 1px 4px;
	width: 300px;
}

.ejer4 input{
    width: 98%;
    flex-direction: column;
}
.ejer4 .main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ejer4 button[type="submit"] {
	display:flex;
	background: #6b7537;
	font-weight: 100;
	font-family: 'Jet brains mono', sans-serif;
	border: none;
	cursor:auto;
	padding: 15px;
	border-radius: 10px;
	color: #fff;
	font-size: 18px;
	transition: .3s ease all;
	width: 200px;
	height: 15px;
	margin: auto;
    min-width: 60px;
    justify-content: center;
    align-items: center;
}

.ejer5 {
	min-width: 600px;
	min-height: 320px;
	margin: auto;
	margin-top: 20px;
	background:  #efefe8(207, 148, 219);
	border-radius: 5px;
	padding: 50px;
	box-shadow: rgba(0.25, 0.25, 0.25, 0.25) 0px 1px 4px;
	width: 300px;
}

.ejer5 input{
    width: 50%;
    flex-direction: column;
}
.ejer5 .main-container{
    display: flex;
    align-items: center;
    flex-direction: center;
}
.ejer5 button[type="submit"] {
	display:flex;
	background: #6b7537;
	font-weight: 100;
	font-family: 'Jet brains mono', sans-serif;
	border: none;
	cursor:auto;
	padding: 15px;
	border-radius: 10px;
	color: #fff;
	font-size: 18px;
	transition: .3s ease all;
	width: 100px;
	height: 15px;
	margin: auto;
    min-width: 40px;
    justify-content: center;
    align-items: center;
}

.ejer6 {
	min-width: 600px;
	min-height: 320px;
	margin: auto;
	margin-top: 20px;
	background:  #efefe8(207, 148, 219);
	border-radius: 5px;
	padding: 50px;
	box-shadow: rgba(0.25, 0.25, 0.25, 0.25) 0px 1px 4px;
	width: 300px;
}

.ejer6 input{
    width: 50%;
    flex-direction: column;
}
.ejer6 .main-container{
    display: flex;
    align-items: center;
}
.ejer6 button[type="submit"] {
	display:flex;
	background: #6b7537;
	font-weight: 100;
	font-family: 'Jet brains mono', sans-serif;
	border: none;
	cursor:auto;
	padding: 15px;
	border-radius: 10px;
	color: #fff;
	font-size: 18px;
	transition: .3s ease all;
	width: 170px;
	height: 15px;
	margin: auto;
    min-width: 40px;
    justify-content: center;
    align-items: center;
}

.ejer7 {
	min-width: 600px;
	min-height: 320px;
	margin: auto;
	margin-top: 20px;
	background:  #efefe8(207, 148, 219);
	border-radius: 5px;
	padding: 50px;
	box-shadow: rgba(0.25, 0.25, 0.25, 0.25) 0px 1px 4px;
	width: 300px;
}

.ejer7 input{
    width: 100%;
    flex-direction: column;
}
.ejer7 .main-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.ejer7 .containerSalAum{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ejer7 button[type="submit"] {
	display:flex;
	background: #6b7537;
	font-weight: 100;
	font-family: 'Jet brains mono', sans-serif;
	border: none;
	cursor:auto;
	padding: 15px;
	border-radius: 10px;
	color: #fff;
	font-size: 18px;
	transition: .3s ease all;
	width: 200px;
	height: 15px;
	margin: auto;
    min-width: 40px;
    justify-content: center;
    align-items: center;
}

.ejer8 {
	min-width: 600px;
	min-height: 320px;
	margin: auto;
	margin-top: 20px;
	background:  #efefe8(207, 148, 219);
	border-radius: 5px;
	padding: 50px;
	box-shadow: rgba(0.25, 0.25, 0.25, 0.25) 0px 1px 4px;
	width: 300px;
}

.ejer8 input{
    width: 50%;
    flex-direction: column;
}
.ejer8 .main-container{
    display: flex;
    align-items: center;
}
.ejer8 button[type="submit"] {
	display:flex;
	background: #6b7537;
	font-weight: 100;
	font-family: 'Jet brains mono', sans-serif;
	border: none;
	cursor:auto;
	padding: 20px;
	border-radius: 10px;
	color: #fff;
	font-size: 18px;
	transition: .3s ease all;
	width: 160px;
	height: 15px;
	margin: auto;
    min-width: 40px;
    justify-content: center;
    align-items: center;
}

.ejer9 {
	min-width: 600px;
	min-height: 320px;
	margin: auto;
	margin-top: 20px;
	background:  #efefe8(207, 148, 219);
	border-radius: 5px;
	padding: 50px;
	box-shadow: rgba(0.25, 0.25, 0.25, 0.25) 0px 1px 4px;
	width: 300px;
}

.ejer9 input{
    width: 300px;
    flex-direction: column;
    justify-content: center;
}
.ejer9 .main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ejer9 .butt{
    display: flex;
    align-items: center;
    justify-content: center
}

.ejer9 button[type="submit"] {
	display:flex;
	background: #6b7537;
	font-weight: 100;
	font-family: 'Jet brains mono', sans-serif;
	border: none;
	cursor:auto;
	padding: 15px;
	border-radius: 10px;
	color: #fff;
	font-size: 18px;
	transition: .3s ease all;
	width: 130px;
	height: 15px;
	margin: auto;
    min-width: 40px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px, 0px, 30px;
}

.table{
    display: flex;
    justify-content: center;
    background-color:#dcd8a2;
}

.ejer11 {
	min-width: 600px;
	min-height: 320px;
	margin: auto;
	margin-top: 20px;
	background:  #efefe8(207, 148, 219);
	border-radius: 5px;
	padding: 50px;
	box-shadow: rgba(0.25, 0.25, 0.25, 0.25) 0px 1px 4px;
	width: 300px;
}

.ejer11 input{
    width: 100%;
    flex-direction: column;
}
.ejer11 .main-container{
    display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.ejer11 .buttEst{
	display: flex;
	flex-direction: row;
}

.ejer11 button[type="submit"] {
	display:flex;
	background: #6b7537;
	font-weight: 100;
	font-family: 'Jet brains mono', sans-serif;
	border: none;
	cursor:auto;
	padding: 15px;
	border-radius: 10px;
	color: #fff;
	font-size: 18px;
	transition: .3s ease all;
	height: 20px;
	margin: auto;
    min-width: 150px;
    justify-content: center;
    align-items: center;
}

.chall1 {
	min-width: 600px;
	min-height: 100px;
	margin: auto;
	margin-top: 20px;
	background:  #efefe8(207, 148, 219);
	border-radius: 5px;
	padding: 50px;
	box-shadow: rgba(0.25, 0.25, 0.25, 0.25) 0px 1px 4px;
	width: 300px;
}

.chall2 {
	min-width: 600px;
	margin: auto;
	margin-top: 20px;
	background:  #efefe8(207, 148, 219);
	border-radius: 5px;
	padding: 50px;
	box-shadow: rgba(0.25, 0.25, 0.25, 0.25) 0px 1px 4px;
	width: 300px;
}

.chall2 .main-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.count{
	font-size: 30px;
	color: #352911;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}

.chall2 button[type="submit"] {
	display:flex;
	background: #6b7537;
	font-weight: 100;
	font-family: 'Jet brains mono', sans-serif;
	border: none;
	cursor:auto;
	padding: 15px;
	border-radius: 10px;
	color: #fff;
	font-size: 18px;
	transition: .3s ease all;
	width: 100px;
	height: 20px;
	margin: auto;
    min-width: 10px;
    justify-content: center;
    align-items: center;
}

.chall3 {
	min-width: 600px;
	min-height: 280px;
	margin: auto;
	margin-top: 20px;
	background:  #efefe8(207, 148, 219);
	border-radius: 5px;
	padding: 50px;
	box-shadow: rgba(0.25, 0.25, 0.25, 0.25) 0px 1px 4px;
	width: 300px;
}

.chall3 .main-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.chall3 button[type="submit"] {
	display:flex;
	background: #6b7537;
	font-weight: 100;
	font-family: 'Jet brains mono', sans-serif;
	border: none;
	cursor:auto;
	padding: 15px;
	border-radius: 10px;
	color: #fff;
	font-size: 18px;
	transition: .3s ease all;
	width: 100px;
	height: 20px;
	margin: auto;
    min-width: 10px;
    justify-content: center;
    align-items: center;
}